@model List<Diploma.Models.ProductModel>
@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isItTimeToShopping = false;
    int counter = 0;
}
<link href="~/Plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.0/css/dataTables.responsive.css">
<main id="main">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <!-- LINE CHART -->
                    @if (Model != null && Model.Any())
                    {
                        <div class="box animated fadeInUp box-info">
                            <div class="box-header">
                                <h3 class="box-title">Продукти вдома</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-striped" id="warehouse">
                                    <thead>
                                        <tr>
                                            <th>Продукт</th>
                                            <th>Стан</th>
                                            <th>Кількість</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            int quantity = Model[i].Quantity;
                                            <tr>
                                                <td>@Model[i].Name</td>
                                                @if (quantity >= 5)
                                                {
                                                    <td>
                                                        <div class="progress progress-xs progress-striped active">
                                                            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                                        </div>
                                                    </td>
                                                    <td style="text-align:center"><span class="badge bg-green">@quantity шт.</span></td>
                                                }
                                                else if (quantity >= 2 && quantity < 5)
                                                {
                                                    <td>
                                                        <div class="progress progress-xs progress-striped active">
                                                            <div class="progress-bar progress-bar-yellow" style="width: 30%"></div>
                                                        </div>
                                                    </td>
                                                    <td style="text-align:center"><span class="badge bg-yellow">@quantity шт.</span></td>
                                                }
                                                else
                                                {
                                                    if (quantity == 0)
                                                    {
                                                        counter++;
                                                        isItTimeToShopping = true;
                                                    }
                                                    <td>
                                                        <div class="progress progress-xs progress-striped active">
                                                            <div class="progress-bar progress-bar-danger" style="width: 5%"></div>
                                                        </div>
                                                    </td>
                                                    <td style="text-align:center"><span class="badge bg-red">@quantity шт.</span></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    }
                    else
                    {
                        <div class="box info-section box-primary animated fadeInUp">
                            <div class="box-body">
                                <div class="icons" style="font-size:50px;text-align:center">
                                    <i class="fa fa-cart-arrow-down"></i>
                                </div>
                                <div class="text" style="text-align:center">
                                    <h3>Потрібно чим швидше поповнити комірчину</h3>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@*<footer id="footer" class="inner-page">
    <div class="footer-pane">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="copyright">© 2018 ILGOL. All Rights Reserved</div>
            </div>
        </div>
    </div>
</footer>*@
@section scripts{
    <script src="~/Scripts/slideout.min.js"></script>
    <script src="~/Plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.min.js"></script>
    <script>
        $(function () {
            $(window).on('load', $('.preloader').fadeOut('slow', function () { $(this).hide(); }));
            $('#warehouse').DataTable({
                responsive: true,
                "paging": true,
                "pageLength": 5,
                "lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "Всі"]],
                "lengthChange": true,
                "searching": true,
                "autoWidth": true,
                "columns": [
                    null,
                    null,
                    null
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Ukranian.json"
                }
            });
            var isItTime = @Json.Encode(isItTimeToShopping);
            if (isItTime) {
                var counter = @Json.Encode(counter);
                $(".notification").addClass("dot");
                $("<span class='pull-right-container'>").html("<span class='label label-danger pull-right'>" + counter + "</span>").prependTo('.shopping a');
            }
        });
   </script>
}